@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shizuru&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo {
    background-image: linear-gradient(to left, rgb(191, 134, 230), rgba(105, 177, 245, 0.432));
}


.title {
    height: 30vh;
    font-family: 'Shizuru', cursive;
    text-align: center;
    background:url(../images/Diseño\ portada.png)no-repeat;
    background-position: center;
    color: rgb(134, 14, 124);
    font-size: 90px;
    font-weight: bold;
    
}

.article__text{
    font-family: 'Roboto', sans-serif;
    color: #772f5f;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    }

.bloque{
        font-family:'Roboto', sans-serif;
        font-weight: bold;
        text-align: center;
        color: #772f5f;
    }

.bloque__img{
        width: 90%;
        object-fit: contain;
        margin: auto;
    }

.bloque__list{
        list-style: none;
        font-family:'Roboto', sans-serif;
        font-weight: bold;
        text-align: center;
        color: #772f5f;
    }
    
.bloque__listItem{
        margin: 10px;
    }

.imgPrin{
    border: 2px solid #080708;
}

/* FOOTER */
.footer {
   margin-top: 5px;
}