@import "variables";

.title {
    height: $alto;
    font-family: 'Lobster', cursive;
    text-align: center;
    background:url(../images/DisenoPortada.png)no-repeat;
    background-position: center;
    color: rgb(134, 14, 124);
    font-size: 100px;
    font-weight: bolder;
    
}