@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@600&display=swap');
@import "header";
@import "footer";
@import "variables";
@import "sociales";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inicio {
    background-image: linear-gradient(to left, rgb(191, 134, 230), rgba(105, 177, 245, 0.432));

    .inicioIzquierda{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .inicioTitulo{
        font-family: 'Saira Condensed', sans-serif;
        font-size: 5rem;
    }

    .inicioTexto{
        margin-left: 2rem;
        margin-right: 2rem;
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        text-align: center;
    }

    .inicioImg{
        border: 2px solid #080708;
        width: 60%;
        margin: 2rem;
    }
}

.inicioDos{
    background-color: white;

    .tituloDos {
        font-family: 'Lobster', cursive;
        font-weight: bold;
        font-size: 2rem;
        margin: 2rem;
        color: #772f5f;
    }

    .bloque{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .elemento{
            width: 16rem;
            height: 10rem;
            list-style: none;
            border-radius: 2rem;
            background-color: rgba(164, 243, 217, 0.705);
            box-shadow: 0px 10px 10px -8px black;
            
            .opinion{
                padding: 0.5rem;
                color: #772f5f;
                font-weight: bold; 
                font-family:'Roboto', sans-serif; 
                text-align: center;
            }
            
            .nombre{
                margin-bottom: 0.5rem;
                color: #080708;
                font-family: 'Lobster', cursive;
                font-size: medium;
                text-align: center;
            }
        }
    }
    
}
 
// Estilos para Nosotros.html

.imagenInicial {
    width: 100%;
    border-radius: 20px;
}

.textSep{
    margin-top: 2rem;
    font-weight: 600;
        color: $colorbase2;
        font-family: 'Saira Condensed', sans-serif;
}

.opinionImagen{
    border-radius: 40px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    opacity: 0.7;
}

.carousel-caption{
    margin-bottom: 9.5rem;
    padding-left: 50px;

    p{
        font-size: 2.7rem;
        font-weight: 400;
    }

    h2{
        margin-top: 4rem;
        font-size: 2rem;
        font-weight: 600;
        color: $colorbase2;
    }
}

//Estilos productos

.container {

    width: 100%;

    
    .card{
        width: 350px;
        height: 480px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;

        &:hover{
            transform: translateY(-15px);
            box-shadow: 0 12px 16px rgba(0,0,0,0.2);
        }

        img{
            width: 350px;
            height: 280px;
        }

        h5{
            font-weight: 500;
        }

        p{
            padding-bottom: 1rem;
            font-weight: 300;
            font-size: 16px;
        }
    }
    
}